Appendix A/elidodo-soap-service/parts/elidodo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://elidodo.com/parts/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://elidodo.com/parts/parts/ws" targetNamespace="http://elidodo.com/parts/parts/ws">
  <wsdl:types>
    <xs:schema xmlns:tns="http://elidodo.com/parts/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://elidodo.com/parts/ws">

    <xs:element name="getPartRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="part" type="tns:part"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartsRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partList" type="tns:partList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartsByTypeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartsByTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partList" type="tns:partList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="orderPartsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="yourOrderNumber" type="xs:string"/>
                <xs:element name="orderLineList" type="tns:orderLineList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="orderPartsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eliDodoOrderNumber" type="xs:string"/>
                <xs:element name="yourOrderNumber" type="xs:string"/>
                <xs:element name="orderAccepted" type="xs:boolean"/>
                <xs:element name="orderLineList" type="tns:orderLineList"/>
                <xs:element name="totalOrderAmount" type="xs:double"/>
                <xs:element name="currency" type="tns:currency"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="part">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="currency" type="tns:currency"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="part" type="tns:part"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="orderLineList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="orderLine" type="tns:orderLine"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="orderLine">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="itemCount" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USD"/>
            <xs:enumeration value="EUR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPartsByTypeRequest">
    <wsdl:part element="sch:getPartsByTypeRequest" name="getPartsByTypeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartsResponse">
    <wsdl:part element="sch:getPartsResponse" name="getPartsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartsByTypeResponse">
    <wsdl:part element="sch:getPartsByTypeResponse" name="getPartsByTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartsRequest">
    <wsdl:part element="sch:getPartsRequest" name="getPartsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartResponse">
    <wsdl:part element="sch:getPartResponse" name="getPartResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderPartsRequest">
    <wsdl:part element="sch:orderPartsRequest" name="orderPartsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderPartsResponse">
    <wsdl:part element="sch:orderPartsResponse" name="orderPartsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartRequest">
    <wsdl:part element="sch:getPartRequest" name="getPartRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PartsPort">
    <wsdl:operation name="getPartsByType">
      <wsdl:input message="tns:getPartsByTypeRequest" name="getPartsByTypeRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPartsByTypeResponse" name="getPartsByTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParts">
      <wsdl:input message="tns:getPartsRequest" name="getPartsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPartsResponse" name="getPartsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPart">
      <wsdl:input message="tns:getPartRequest" name="getPartRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPartResponse" name="getPartResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderParts">
      <wsdl:input message="tns:orderPartsRequest" name="orderPartsRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PartsCallbackPort">
    <wsdl:operation name="orderPartsCallback">
      <wsdl:input message="tns:orderPartsResponse" name="orderPartsResponse">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PartsPortSoap11" type="tns:PartsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPartsByType">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPartsByTypeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPartsByTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPartsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPartsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPart">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPartRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPartResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderParts">
      <soap:operation soapAction=""/>
      <wsdl:input name="orderPartsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:binding name="PartsCallbackPortSoap11" type="tns:PartsCallbackPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderPartsCallback">
      <soap:operation soapAction=""/>
      <wsdl:input name="orderPartsResponse">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="PartsPortService">
    <wsdl:port binding="tns:PartsPortSoap11" name="PartsPortSoap11">
      <soap:address location="http://86.83.63.145:8082/ws/parts"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
























